.container {
    margin : 0 auto;
    padding: 0 0.5rem;
    width  : 100%;
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: var(--breakpoint-xl);
        padding  : 0 1rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .container {
        max-width: var(--breakpoint-lg);
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        max-width: var(--breakpoint-md);
    }
}

.flex {
    display: flex;
}

.row {
    flex: 1;
}

.grid {
    display: grid;
}

.bg-green-light {
    background-color: var(--green-light);
}

.bg-white {
    background-color: var(--white);
}

.bg-light {
    background-color: #f8f9fd;
}

.modal {
    align-items     : center;
    background-color: rgba(0, 0, 0, 0.9);
    display         : none;
    min-height      : 100%;
    inset           : 0;
    justify-content : center;
    overflow        : auto;
    position        : fixed;
    padding         : 0 0.5rem;
    width           : 100%;
    z-index         : 2;
}

.modal-content {
    animation: zoom .6s;
    display  : block;
    margin   : auto;
    max-width: 700px;
    position : relative;
    width    : 100%;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .modal-content {
        margin-top: 5rem;
    }
}

.btn-modal {
    display   : inline-block;
    font-size : 2rem;
    position  : absolute;
    right     : 10px;
    top       : 0;
    transition: var(--transition);
}

.btn-modal:hover {
    color: var(--white);
}