@use "sass:map";

$theme-colors: (
    base-black: #000000,
    sky-blue: #007bff,
    deep-indigo: #6610f2,
    royal-purple: #6f42c1,
    vibrant-pink: #e83e8c,
    alert-red: #dc3545,
    sunset-orange: #fd7e14,
    sunshine-yellow: #ffc107,
    forest-green: #28a745,
    fresh-green: #00bd56,
    sea-teal: #20c997,
    ocean-cyan: #17a2b8,
    pure-white: #ffffff,
    neutral-gray: #6c757d,
    shadow-gray: #343a40,
    primary-blue: #007bff,
    muted-gray: #999999,
    success-green: #28a745,
    info-cyan: #17a2b8,
    warning-yellow: #ffc107,
    danger-red: #dc3545,
    light-gray: #f8f9fa,
    dark-gray: #343a40);