@use "sass:map";

$theme-colors: (alert-red: #dc3545,
    base-black: #000000,
    cotton-mist:#f8f9fd,
    dark-gray: #343a40,
    danger-red: #dc3545,
    deep-indigo: #6610f2,
    forest-green: #28a745,
    fresh-green: #00bd56,
    info-cyan: #17a2b8,
    light-gray: #f8f9fa,
    medium-gray: #b3b3b3,
    muted-gray: #999999,
    muted_slate: #808080,
    neutral-gray: #6c757d,
    ocean-cyan: #17a2b8,
    primary-blue: #007bff,
    pure-white: #ffffff,
    royal-purple: #6f42c1,
    sky-blue: #007bff,
    sunset-orange: #fd7e14,
    sunshine-yellow: #ffc107,
    success-green: #28a745,
    shadow-gray: #343a40,
    sea-teal: #20c997,
    warning-yellow: #ffc107,
    vibrant-pink: #e83e8c);