@use "../global/colors";
@use "../global/mixins";
@use "../util/queries";

.container {
   margin   : 0 auto;
   max-width: 1200px;
   padding  : 0 10px;
   width    : 100%;
}

.pets {
   @include mixins.background("../images/pets-bg.jpg");
   height: 100%;
   width : 100%;
}