.btn {
    border-radius : 0.25rem;
    color         : var(--white);
    display       : inline-block;
    font-size     : 0.75rem;
    font-weight   : 700;
    letter-spacing: 0.125rem;
    line-height   : 1.125rem;
    padding       : 1rem 1.5rem;
    text-align    : center;
    text-transform: uppercase;
    transition    : var(--transition);
}

.btn-success {
    background-color: var(--success);
    border          : 1px solid var(--success);
}

.btn-success:hover {
    background-color: var(--green-light);
    border-color    : var(--green-light);
}

.btn-round {
    align-items    : center;
    border-radius  : 50%;
    box-shadow     : 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
    height         : 60px;
    justify-content: center;
    position       : absolute;
    width          : 60px;
}

.btn-gallery {
    background: var(--green-light);
    color     : var(--white);
    cursor    : zoom-in;
    opacity   : 0;
    right     : 50%;
    transition: var(--transition);
    transform : translate(50%, 50%);
    top       : 40%;
    z-index   : 1;
}