#faq {
    padding-top   : 5rem;
    padding-bottom: 5rem;
}

@media screen and (min-width: 992px) {
    #faq {
        padding-top   : 6.875rem;
        padding-bottom: 6.875rem;
    }
}

.section-faq {
    grid-template-columns: 1fr;
}

@media screen and (min-width: 992px) {
    .section-faq {
        grid-template-columns: 1fr 1fr;
    }
}

/* .faq-questions {} */

.faq-questions,
.faq-media {
    padding: 0 1rem;
}

.faq-accordion-btn {
    align-items     : baseline;
    background      : transparent;
    background-color: var(--white);
    border          : 1px solid var(--white);
    border-radius   : 2.5rem;
    box-shadow      : 0px 2px 8px -4px rgba(0, 0, 0, 0.21);
    cursor          : pointer;
    display         : flex;
    font-size       : 1rem;
    font-weight     : 500;
    justify-content : space-between;
    letter-spacing  : 0;
    line-height     : 1.125rem;
    margin-bottom   : 0.5rem;
    padding         : 1rem 1.5rem;
    text-transform  : capitalize;
    transition      : var(--transition);
    text-align      : left;
    width           : 100%;
}

@media screen and (min-width: 992px) {
    .faq-accordion-btn {
        font-size: 1.125rem;
    }
}

.faq-accordion-btn::after {
    color      : rgba(0, 0, 0, 0.3);
    content    : "\002B";
    font-weight: 500;
    font-size  : 1.75rem;
    transition : var(--transition);
}

.accordion-active {
    background-color: var(--green-light);
    color           : var(--white);
}

.accordion-active::after {
    content: "\2212";
    color  : var(--white);
}

.fa .faq-questions p {
    margin-bottom: 1rem;
}

.faq-panel {
    background   : var(--white);
    border-radius: 30px;
    box-shadow   : 0px 2px 8px -4px rgba(0, 0, 0, 0.21);
    margin-bottom: 0.625rem;
    max-height   : 0;
    overflow     : hidden;
    transition   : max-height 0.3s ease-out;
}

.faq-panel ol,
.faq-panel p {
    padding: 1rem;
}

.faq-panel ol li {
    color        : rgba(0, 0, 0, 0.8);
    margin-bottom: 0.625rem;
    padding-left : 0.625rem;
}

/* faq-media */

.faq-media {
    align-self: start;
    position  : relative;
}

.faq-media a {
    background-color: var(--white);
    color           : var(--green-light);
    font-size       : 1.25rem;
    left            : 50%;
    transform       : translate(-50%, -50%);
    top             : 50%;
}

@media screen and (min-width:768px) {
    .faq-media a {
        animation: pulse 2s infinite;
        height   : 80px;
        width    : 80px;
    }
}

@media screen and (min-width: 992px) {

    .faq-media img {
        object-fit: cover;
        min-height: 415px;
    }
}

/* modal */
.video {
    width: 100%;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .video video {
        width : 100%;
    }
}