.footer {
    background    : #1a1a1a;
    overflow      : hidden;
    padding-bottom: 4rem;
    padding-top   : 4rem;
}

@media screen and (min-width: 992px) {
    .footer {
        padding: 7rem 0;
    }
}

.footer-container {
    grid-template-columns: 1fr;
    gap                  : 2rem;
    margin-bottom        : 3rem;
}

@media screen and (min-width: 992px) {
    .footer-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.footer-container p {
    color        : rgba(255, 255, 255, 0.6);
    margin-bottom: 1rem;
}

.footer-header {
    color         : var(--white);
    display       : flex;
    font-size     : 1.375rem;
    font-weight   : 700;
    letter-spacing: 1px;
    margin-bottom : 2rem;
    position      : relative;
}

.footer-header::after {
    background-color: var(--green);
    bottom          : -4px;
    content         : "";
    height          : 4px;
    left            : 0;
    position        : absolute;
    width           : 40px;
}

#petsitting ul {
    gap: 1rem;
}

#petsitting ul li {
    display  : inline-block;
    animation: fadeInUp .5s both;
}

#petsitting ul li:nth-child(1) {
    animation-delay: .1s;
}

#petsitting ul li:nth-child(2) {
    animation-delay: .2s;
}

#petsitting ul li:nth-child(3) {
    animation-delay: .3s;
}

#petsitting ul li:nth-child(4) {
    animation-delay: .4s;
}

#petsitting ul a {
    background   : rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color        : var(--green);
    display      : inline-block;
    font-size    : 1.25rem;
    height       : 40px;
    position     : relative;
    transition   : var(--transition);
    width        : 40px;
}

#petsitting ul a:hover {
    color: var(--white);
}

#petsitting ul i {
    left     : 50%;
    position : absolute;
    top      : 50%;
    transform: translate(-50%, -50%);
}

.news-item {
    cursor       : pointer;
    gap          : 1rem;
    margin-bottom: 1.5rem;
    transition   : var(--transition);
}

.news-img {
    border-radius: 0.25rem;
    height       : 80px;
    flex         : 1 0 80px;
    max-width    : 80px;
}

.news-img img {
    border-radius: 0.25rem;
    height       : 100%;
    object-fit   : cover;
}

.news-desc a {
    color        : var(--white);
    font-size    : 1rem;
    font-weight  : 400;
    line-height  : 1.4;
    margin-bottom: 0.5rem;
    transition   : var(--transition);
}

.news-item:hover .news-desc a {
    color: var(--green);
}

.news-desc span {
    color    : var(--gray);
    font-size: 0.75rem;
}

#quickLinks ul li {
    padding: 0.5rem 0;
}

#quickLinks ul a {
    transition: var(--transition);
}

#quickLinks ul a:hover {
    color: var(--green);
}

#questions a {
    transition: var(--transition);
}

#questions a:hover {
    color: var(--white);
}

.copyright {
    text-align: center;
}

.copyright i {
    color: var(--red);
}

.copyright a {
    color     : var(--green);
    transition: var(--transition);
}

.copyright a:hover {
    color: var(--white);
}