.gallery-cards {
    grid-template-columns: 1fr;

    gap: 1rem;
}

@media screen and (min-width: 998px) {
    .gallery-cards {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows   : repeat(2, 270px);
    }
}

@media screen and (min-width: 768px) and (max-width: 998px) {
    .gallery-cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows   : repeat(3, 270px);
    }
}

.gallery-card {
    border-radius: 0.25rem;
    height       : 100%;
    overflow     : hidden;
    position     : relative;
    transition   : var(--transition);
    z-index      : 0;
}

.gallery-card img {
    height    : 100%;
    object-fit: cover;
    width     : 100%;
}

.gallery-card::after {
    background: var(--white);
    content   : "";
    inset     : 0;
    opacity   : 0;
    position  : absolute;
    transition: var(--transition);
    z-index   : 0;
}

.gallery-card:hover::after {
    opacity: .4;
}

.gallery-card:hover .btn-gallery {
    opacity: 1;
}

.gallery-desc {
    bottom    : 1rem;
    color     : var(--white);
    left      : 1rem;
    opacity   : 0;
    position  : absolute;
    transition: var(--transition);
    z-index   : 1;
}

.gallery-card:hover .gallery-desc {
    opacity: 1;
}

#galleryModal .modal-content {
    align-items    : center;
    display        : flex;
    justify-content: center;
    max-width      : 990px;
}

.modal-img {
    width: 100%;
}

.modal-img img {
    width: 100%;
}