.section {
    position: relative;
    width   : 100%;
}

.section-title {
    color        : var(--black);
    font-size    : 1.875rem;
    font-weight  : 800;
    grid-area    : title;
    line-height  : 2.75rem;
    margin-bottom: .5rem;
}

.section-center {
    padding   : 5em 0;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .section-center {
        padding: 7rem 0;
    }
}