.veterinarin-cards {
    grid-template-columns: 1fr;
    gap                  : 2rem;
}

@media screen and (min-width: 992px) {
    .veterinarin-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .veterinarin-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

.veterinarian-card {
    border-radius: 0.25rem;
    box-shadow   : 0px 24px 48px -13px rgba(0, 0, 0, 0.05);
    overflow     : hidden;
    transition   : var(--transition);
}

.veterinarian-img {
    height    : 300px;
    overflow  : hidden;
    transition: var(--transition);
    width     : 100%;
}

.veterinarian-img img {
    border-top-left-radius : 0.25rem;
    border-top-right-radius: 0.25rem;
    height                 : 100%;
    object-fit             : cover;
    transition             : .4s ease-in-out;
}

.veterinarian-card:hover .veterinarian-img img {
    transform: scale(1.1);
}

.veterinarian-desc {
    background: var(--white);
    padding   : 1rem;
    text-align: center;
    transition: var(--transition);
}

.veterinarian-desc h2 {
    color      : var(--black);
    font-size  : 1.125rem;
    font-weight: 700;
    transition : var(--transition);
}

.veterinarian-desc span {
    color        : var(--green);
    display      : inline-block;
    font-weight  : 500;
    margin-bottom: 0.5rem;
}

.veterinarian-social {
    align-items    : center;
    gap            : 1rem;
    justify-content: center;
    margin-top     : 1rem;
}

.veterinarian-social li a {
    color     : var(--green);
    font-size : 1.125rem;
    transition: var(--transition);
}

.veterinarian-social li i {
    transition: var(--transition);
}

.veterinarian-social li i:hover {
    transform: scale(1.1);
}