@use "../global/colors";
@use "../util/queries";

.modal {
    align-items     : center;
    background-color: rgba(0, 0, 0, 0.9);
    display         : none;
    min-height      : 100%;
    inset           : 0;
    justify-content : center;
    overflow        : hidden;
    position        : fixed;
    padding         : 0 0.5rem;
    width           : 100%;
    z-index         : 9999999;

    &__btn {
        display   : inline-block;
        font-size : 2rem;
        position  : absolute;
        right     : 10px;
        top       : 0;
        transition: .3s ease-in-out;

        &:hover {
            color: map-get($map: colors.$theme-colors, $key: pure-white);
        }
    }

    &__content {
        animation: zoom .6s;
        display  : block;
        height   : 80%;
        position : relative;
        width    : 100%;

        @include queries.landscape() {
            height: 70%;
        }
    }
}

.open-modal {
    display: flex;
}