/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

textarea {
  resize: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-color: #ffffff;
  color: #6c757d;
  font-weight: 400;
  line-height: 1.8;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style-position: inside;
}

.menu-bugger {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  display: none;
  min-height: 28px;
  padding-left: 0;
  padding-right: 0;
  transition: 0.3 ease-in-out;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu-bugger {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .menu-bugger {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
.menu-bugger:focus {
  outline: none;
}
.menu-bugger__bars {
  background: #000000;
  border-radius: 4px;
  display: block;
  height: 4px;
  position: relative;
  transition: 0.3s ease-in-out;
  width: 33px;
}
.menu-bugger__bars::before, .menu-bugger__bars::after {
  background: #000000;
  border-radius: 4px;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 100%;
}
.menu-bugger__bars::before {
  transform: translate(0, -12px);
}
.menu-bugger__bars::after {
  transform: translate(0, 12px);
}

.menu-open .menu-bugger__bars {
  background: transparent;
}
.menu-open .menu-bugger__bars::before {
  transform: rotate(45deg);
}
.menu-open .menu-bugger__bars::after {
  transform: rotate(-45deg);
}

.visually-hidden {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1;
  margin-right: 10px;
}

.header {
  width: 100%;
}
.header__contact {
  background: linear-gradient(45deg, #007bff 0%, #28a745 100%);
  width: 100%;
}
.header__contact-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .header__contact-container {
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 0 !important;
  }
}
.header__contact-info {
  flex: 1;
}
.header__contact-info a {
  margin-right: 0.5rem;
  transition: 0.3s ease-in-out;
}
.header__contact-info a:hover {
  color: #999999;
}
.header__contact-social {
  align-items: center;
  display: flex;
  justify-content: end;
  flex: 1;
}
@media screen and (max-width: 767px) {
  .header__contact-social {
    justify-content: center;
  }
}
.header__contact-social li {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 0.875rem;
  cursor: pointer;
  height: 40px;
  transition: 0.3s ease-in-out;
  width: 40px;
}
.header__contact-social li:hover {
  background: #28a745;
}
.header__navbar {
  background-color: #f8f9fa;
  box-shadow: #000000 0px 5px 20px -17px;
  color: #000000;
  padding: 0 0.5rem;
  position: relative;
  width: 100%;
}
.header__navbar-wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header__navbar-brand {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 1.75rem;
  font-weight: 800;
  gap: 1rem;
  padding: 4px 0;
}
.header__navbar-brand i {
  color: #28a745;
}
.header__navbar-list {
  align-items: center;
  display: flex;
  justify-content: end;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__navbar-list {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header__navbar-list {
    display: none;
  }
}
.header__navbar-list li {
  position: relative;
  transition: 0.3s ease-in-out;
}
.header__navbar-list li::after {
  content: "";
  background: #28a745;
  display: block;
  height: 2px;
  transition: 0.3s ease-in-out;
  width: 0%;
}
.header__navbar-list li:hover::after {
  width: 100%;
}
.header__navbar-list li a {
  display: inline-block;
  font-weight: 700;
  padding: 2rem 1.125rem;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}
.header__navbar-list .activated::after {
  width: 100%;
}
.header__navbar-list .activated a {
  color: #28a745;
}

.modal__menu {
  background-color: black;
  height: 100%;
  inset: 0;
  overflow: hidden;
  position: fixed;
  transition: 0.5s ease-in-out;
  width: 100%;
  z-index: 9999;
}
.modal__menu-close {
  border: 2px solid #00bd56;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
}
.open-menu-modal {
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
