#contact {
    background           : url("../../images/contact-bg.jpg") no-repeat center;
    background-size      : cover;
    background-attachment: fixed;
}

.contact-container {
    justify-content: flex-end;
    width          : 100%;
}

.contact-form {
    background: linear-gradient(45deg, #207dff 0%, #00bd55 100%);
    flex-basis: 100%;
}

@media screen and (min-width: 992px) {
    .contact-form {
        flex-basis: 50%;
    }
}

.container-form {
    padding: 1rem;
}

@media screen and (min-width: 992px) {
    .container-form {
        padding: 3rem 12.5rem 3rem 3rem;
    }
}

.form-title {
    color        : var(--white);
    font-size    : 2rem;
    font-weight  : 700;
    line-height  : 3rem;
    margin-bottom: 1.5rem;
}

.form {
    grid-template-columns: 1fr;
    grid-template-areas  :
        "fselect"
        "fname"
        "fvehicle"
        "fdate"
        "ftime"
        "fmessage"
        "fbutton";
    gap  : 1rem;
    width: 100%;
}

@media screen and (min-width: 992px) {
    .form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas  :
            "fselect fselect"
            "fname fvehicle"
            "fdate ftime"
            "fmessage fmessage"
            "fbutton fbutton";
    }
}

.form-field {
    width: 100%;
}

.form-control {
    border       : transparent;
    background   : var(--white);
    color        : rgba(0, 0, 0, 0.8);
    font-weight  : 600;
    border-radius: 0.313rem;
    line-height  : 1.5rem;
    outline      : none;
    padding      : 1rem 0.75rem;
    transition   : border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    width        : 100%;
}

#fselect {
    appearance: none;
    grid-area : fselect;
}

#fname {
    grid-area: fname;
}

#fvehicle {
    grid-area: fvehicle;
}

#fdate {
    grid-area: fdate;
}

#ftime {
    grid-area: ftime;
}

#fmessage {
    grid-area: fmessage;
}

#fbutton {
    grid-area: fbutton;
}