#section-counter {
    background-color: var(--green-light);
    padding-bottom  : 3.75rem;
    padding-top     : 3.75rem;
}

.section-counter {
    align-items          : center;
    grid-template-columns: 1fr;
    justify-content      : center;
}

@media screen and (min-width: 992px) {
    .section-counter {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .section-counter {
        grid-template-columns: repeat(2, 1fr);
    }
}

.counter-card {
    color        : var(--white);
    padding      : 0 1rem;
    margin-bottom: 1.25rem;
    text-align   : center;
}

@media screen and (min-width: 992px) {
    .counter-card {
        margin-bottom: 0;
    }
}

.counter-card h2 {
    font-size    : 3.125rem;
    font-weight  : 700;
    line-height  : 3.125rem;
    margin-bottom: 0.625rem;
}

.counter-card span {
    font-size: 1rem;
}