#package {
    background: var(--light);
    padding   : 7.5rem 0;
    text-align: center;
}

.package-cards {
    align-items    : center;
    flex-wrap      : wrap;
    gap            : 2rem;
    justify-content: space-around;
}

.package-card {
    background   : var(--white);
    box-shadow   : 0px 24px 48px -13px rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
    flex         : 1 1 100%;
    margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
    .package-card {
        flex-basis: 30%;
    }
}

.package-img {
    border-radius: 0.25rem;
    height       : 250px;
}

.package-img img {
    border-top-left-radius : 0.25rem;
    border-top-right-radius: 0.25rem;
    height                 : 100%;
    object-fit             : cover;
    width                  : 100%;
}

.package-desc {
    padding: 1.5rem;
}

.package-desc h2 {
    color         : var(--green-light);
    font-size     : 1rem;
    font-weight   : 600;
    text-transform: uppercase;
}

.package-desc p sup {
    color    : #b3b3b3;
    font-size: 1.5rem;
    top      : -1em;
}

.package-desc p span {
    color      : var(--black);
    font-size  : 3.75rem;
    font-weight: 600;
}

.package-desc p sub {
    bottom: -0.25em;
}

.package-desc ul {
    margin-bottom: 3rem;
}

.package-desc ul li:nth-child(odd) {
    background: rgba(0, 0, 0, 0.05);
}

.package-desc ul li {
    color     : var(--black);
    list-style: none;
    padding   : 0.625rem 0;
}

.package-desc ul i {
    color       : var(--blue);
    margin-right: 0.5rem;
}