#testimony {
    background           : linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/comments-bg.jpg");
    background-repeat    : no-repeat;
    background-position  : center center;
    background-size      : cover;
    background-attachment: fixed;
    min-height           : 80%;
    padding              : 7rem 0;
    text-align           : center;
}

#testimony .section-title {
    color        : var(--white);
    margin-bottom: 4rem;
    margin-top   : 6rem;
}

#testimony .owl-carousel .owl-nav {
    display: none;
}

.owl-dots {
    margin-top: 2rem;
}

.owl-dots .owl-dot {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-radius   : 50%;
    height          : 12px;
    margin          : 5px;
    position        : relative;
    width           : 12px;
}

.owl-dots .owl-dot::after {
    content      : "";
    border       : 1px solid #e6e6e6;
    bottom       : 0;
    border-radius: 50%;
    height       : 14px;
    left         : -1px;
    position     : absolute;
    top          : -1px;
    right        : 0;
    width        : 14px;
}

.owl-dots .owl-dot.active {
    background: var(--green-light) !important;
}

.testimony-carousel .item {
    border-radius   : 5px;
    background-color: var(--white);
    border          : 1px solid rgba(0, 0, 0, 0.02);
    box-shadow      : 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
    margin-right    : 2rem;
    height          : auto;
    width           : 100%;
}

.testimony-wrap {
    flex-direction: column;
    gap           : 1rem;
    height        : 100%;
    padding       : 1.25rem 1.25rem;
    text-align    : left;
    width         : 100%;
}

.testimony-quot {
    align-items    : center;
    background     : var(--green-light);
    border-radius  : 50%;
    height         : 40px;
    justify-content: center;
    width          : 40px;
}

.testimony-quot i {
    color: var(--white);
}

.testimony-wrap p {
    flex-grow : 1;
    min-height: 120px;
}

.testimony-comment {
    align-items: center;
    gap        : 1rem;
}

.comment-user {
    border-radius: 50%;
    height       : 80px;
    width        : 80px;
}

.comment-user img {
    border-radius: 50%;
    height       : 100%;
    object-fit   : cover;
}

.comment-info {
    flex-grow: 1;
}

.comment-info h2 {
    color      : var(--black);
    font-size  : 1.25rem;
    font-weight: 500;
    line-height: 2rem;
}

.comment-info span {
    color      : var(--gray);
    font-size  : 0.875rem;
    line-height: 1.5;
}