@use "../global/colors";
@use "../global/mixins";
@use "../global/typography";
@use "../util/queries";

#contact {
    background    : map-get($map: colors.$theme-colors, $key: cotton-mist);
    padding-bottom: 60px;
    padding-top   : 60px;

    .section__title {
        text-align: center;
    }
}

.contact {
    margin   : 0 auto;
    max-width: 1024px;
    padding  : 0 16px;
    width    : 100%
}

.contact__info {

    @include mixins.grid(1fr);
    gap          : 32px;
    margin-bottom: 80px;
    margin-top   : 40px;

    @include queries.devices(l) {
        grid-template-columns: repeat(4, 1fr);
    }

    @include queries.devices(t) {
        grid-template-columns: repeat(2, 1fr);
    }

    &-item {
        @include mixins.flex(center, start);
        flex-direction: column;

        span {
            @include typography.font-02(15);
            color      : map-get($map: colors.$theme-colors, $key: base-black);
            font-weight: 500;
            line-height: 28px;
            text-align : center;

            address,
            a {
                color: map-get($map: colors.$theme-colors, $key:forest-green);
            }

            address {
                display: inline;
            }
        }
    }

    &-icon {
        @include mixins.flex(center, center);
        @include typography.pixel-to-rem(20);
        background   : map-get($map: colors.$theme-colors, $key: fresh-green);
        color        : map-get($map: colors.$theme-colors, $key: pure-white);
        border-radius: 50%;
        height       : 60px;
        margin-bottom: 18px;
        width        : 60px;
    }
}

.contact__message {
    @include mixins.grid(1fr);

    @include queries.devices(l) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows   : 550px;
    }

    &-form {
        padding-right: 48px;
        text-align   : left;

        @include queries.devices(m) {
            padding-right: 0;
        }

        h2 {
            @include typography.font-02(28);
            color        : map-get($map: colors.$theme-colors, $key: base-black);
            font-weight  : 500;
            line-height  : 42px;
            margin-bottom: 24px;
            text-align   : left;
        }
    }
}

.form {
    width: 100%;

    &__item {
        margin-bottom: 16px;
        width        : 100%;

        label {
            @include typography.font-02(12);
            color         : map-get($map: colors.$theme-colors, $key: fresh-green);
            display       : block;
            font-weight   : 600;
            line-height   : 22px;
            text-transform: uppercase;
        }

        input,
        textarea {
            @include typography.font-02(14);
            background   : transparent;
            border       : none;
            border-radius: 2px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            font-weight  : 400;
            outline      : none;
            transition   : .3s ease-in-out;
            width        : 100%;

            &::placeholder {
                @include typography.font-02(14);
            }

            &:focus {
                border-color: map-get($map: colors.$theme-colors, $key: forest-green);
            }
        }

        input {
            height: 42px;
        }

        button {
            cursor: pointer;
        }
    }
}

.contact__message-img {
    height: 100%;

    img {
        height    : 100%;
        object-fit: cover;
        width     : 100%;

    }
}

.contact__map {
    background: map-get($map: colors.$theme-colors, $key: medium-gray);
    height    : 450px;
    width     : 100%;

    iframe {
        width: 100%;
    }
}