@use "../global/mixins";
@use "../global/colors";
@use "../global/typography";
@use "../util/queries";

.testimony {
    @include mixins.gradient-bg("../images/comments-bg.jpg");
    background-attachment: fixed;

    .section__title {
        color: map-get($map: colors.$theme-colors, $key: pure-white);
    }

    &__container {
        @include mixins.grid(1fr);
        padding-bottom: 120px;
        padding-top   : 120px;
        width         : 100%;
    }
}

.testimony__card {
    background   : map-get($map: colors.$theme-colors, $key: pure-white);
    border-radius: 0.25rem;
    box-shadow   : 0px 24px 48px -13px rgba(0, 0, 0, 0.05);
    max-width    : 650px;
    padding      : 75px 25px 25px;
    text-align   : left;
    width        : 100%;

    &:not(&:nth-child(2)) {
        justify-self: self-start;

        @include queries.devices(m) {
            justify-self: center;
        }
    }

    &:nth-child(2) {
        margin      : 120px 0;
        justify-self: end;

        @include queries.devices(m) {
            justify-self: center;
        }
    }

    &-img {
        border       : 5px solid map-get($map: colors.$theme-colors, $key: forest-green);
        border-radius: 50%;
        position     : relative;
        height       : 105px;
        margin-top   : -125px;
        width        : 105px;

        img {
            border-radius  : 50%;
            height         : 100%;
            object-fit     : cover;
            object-position: center;
        }
    }

    h3 {
        color      : map-get($map: colors.$theme-colors, $key: base-black);
        font-weight: 600;
        line-height: 20px;
        margin     : 16px 0px 0px;
    }

    span {
        @include typography.pixel-to-rem(14);
        line-height  : 20px;
        margin-bottom: 10px;
    }

    p {
        line-height: 24px;
        margin     : 16px 0;
    }
}